fastapi==0.115.0
uvicorn==0.30.6
motor==3.6.0
pydantic-settings==2.5.2
python-dotenv==1.0.1
python-multipart
docxtpl==0.20.2
langgraph
ollama
PyYAML
qdrant-client
PyMuPDF
pint
paddlepaddle
paddleocr
python-docx
matplotlib
websockets
psutil
